<mat-nav-list class="pb-4">
  <div class="logo py-4">
    <img src="/assets/behance.png" />
  </div>
  <a routerLink="dashboard" (click)="(onClose)" mat-dialog-close="true"
    ><i class="material-icons"> &nbsp;space_dashboard</i> Dashboard</a
  >
  <br />
  <a routerLink="Login" (click)="(onClose)" mat-dialog-close="true"
    ><i class="material-icons">&nbsp;login</i> Login</a
  >
  <br />
  <a routerLink="Logout" (click)="logout()" mat-dialog-close="true"
    ><i class="material-icons">&nbsp;logout</i> Log out</a
  >
</mat-nav-list>
