<div [formGroup]="form">
  <p>
    <mat-form-field appearance="outline">
      <mat-label style="color: white">ID</mat-label>
    <input matInput formControlName="id"/>
    </mat-form-field>
  </p>
  <!--OLD PASSWORD-->
  <p>
    <mat-form-field appearance="outline">
      <mat-label style="color: white">Old Password</mat-label>
      <input
        matInput
        placeholder="old password"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      > 
       <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button> 
      <!-- <mat-icon matSuffix>password</mat-icon> -->
      <mat-hint class="text-danger" *ngIf="form.controls['password'].invalid"
        >old password is required</mat-hint
      >
    </mat-form-field>
  </p>
  <!--NEW PASSWORD-->
  <p>
    <mat-form-field appearance="outline">
      <mat-label style="color: white">New Password</mat-label>
      <input
        matInput
        placeholder="new password"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      > 
       <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button> 
      <!-- <mat-icon matSuffix>password</mat-icon> -->
      <mat-hint class="text-danger" *ngIf="form.controls['password'].invalid"
        >New password is required</mat-hint
      >
    </mat-form-field>
  </p>
  <!--CFW PASSWORD-->
  <p>
    <mat-form-field appearance="outline">
      <mat-label style="color: white">Confirm New Password</mat-label>
      <input
        matInput
        placeholder="Confirm New Password"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      > 
       <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button> 
      <!-- <mat-icon matSuffix>password</mat-icon> -->
      <mat-hint class="text-danger" *ngIf="form.controls['password'].invalid"
        >Confirm New Password is required</mat-hint
      >
    </mat-form-field>
  </p>
  <!-- <p>
    <mat-form-field appearance="outline">
      <mat-label style="color: white">New Password</mat-label>
      <input
        matInput
        _password
        placeholder="new password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-icon matSuffix>password</mat-icon> -->
      <!-- <mat-hint
        class="text-danger"
        *ngIf="form.controls['new_password'].invalid"
        >new password is required</mat-hint
      >
    </mat-form-field>
  </p> -->
  <!-- <p>
    <mat-form-field appearance="outline">
      <mat-label style="color: white">Confirm New Password</mat-label>
      <input
        matInput
        placeholder="confirm new password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-icon matSuffix>password</mat-icon> -->
      <!-- <mat-hint
        class="text-danger"
        *ngIf="form.controls['confirm_new_password'].invalid"
        >confirm password is required</mat-hint -->
      <!-- >  -->
    <!-- </mat-form-field> -->
  <!-- </p> -->
  <button mat-raised-button color="accent" (click)="onSave()">Submit</button
  >&nbsp;
  <button mat-raised-button (click)="onClose()">Close</button>
</div>
