<div class="login">
  <mat-card class="card-login text-center">
    <mat-card-header>
      <img src="/assets/behance.png" style="width: 100px" />
    </mat-card-header>
    <mat-card-content [formGroup]="form">
      <p>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
           
            placeholder="Username"
            formControlName="username"
            (cut)="onPrevent($event)"
            (copy)="onPrevent($event)"
            (paste)="onPrevent($event)"
          />
          <!-- (keyup)="onKeyup($event)" -->
          <mat-hint
            class="text-danger"
            *ngIf="form.controls['username'].invalid"
            >username is required</mat-hint
          >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            _password
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            (keyup.Enter)="onSubmit()"

            (cut)="onPrevent($event)"
            (copy)="onPrevent($event)"
            (paste)="onPrevent($event)"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          ><mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            
          </button>
          <mat-hint
            class="text-danger"
            *ngIf="form.controls['password'].invalid"
            >This fild</mat-hint
          >
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button color="primary" (click)="onSubmit()">login</button>
    </mat-card-footer>
  </mat-card>
</div>
