.login{
    height: calc(100vh - 0px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-login{
    width: 500px;
    height: 500px;
    // background: whitesmoke;
}

.mat-mdc-card-header {
    display: flex;
    
    justify-content: center;
    
}
.mat-mdc-form-field {
    width: 300px;
    height: 80px;
    
}
