<mat-nav-list > 
  <div class="logo py-4">
    <img src="/assets/behance.png" />
  </div>
  <a routerLink="dashboard" class="dashboard"
    ><i class="material-icons">space_dashboard</i>&nbsp; Dashboard</a
  >
  
  <!-- <a routerLink="Login" class="login"
    ><i class="material-icons">log in</i>Log in</a
  > -->
  <br />
  <a (click)="logout()" class="logout"
    ><i class="material-icons">logout</i> &nbsp; Log out</a
  >
</mat-nav-list>
<!-- 
<mat-sidenav-container>
  <mat-sidenav>
    <img class="logo py-4">
    <a routerLink="dashboard" class="dashboard"
    ><i class="material-icons">space_dashboard</i>&nbsp; Dashboard</a
  >
  <a (click)="logout()" class="logout"
    ><i class="material-icons">logout</i> &nbsp; Log out</a
  >
  </mat-sidenav>
  <mat-sidenav-content>
    <button> End</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->
