<p>adduser works!</p>
<div [formGroup]="form">
    <p>
        <mat-form-field appearance="outline">
            
          <mat-label style="color: white">No.</mat-label>
          <input matInput formControlName="id" />
    
          <mat-icon matSuffix>numbers</mat-icon>
          <!-- <mat-hint class="text-danger" *ngIf="form.controls['id'].invalid">Please enter your username</mat-hint> -->
        </mat-form-field>
      </p>
  <p>
    <mat-form-field appearance="outline">
        
      <mat-label style="color: white">Username</mat-label>
      <input matInput placeholder="username" formControlName="username" />

      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint class="text-danger" *ngIf="form.controls['username'].invalid">Please enter your username</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label style="color: white">Password</mat-label>
      <input matInput placeholder="password" formControlName="password" />
      <mat-icon matSuffix>password</mat-icon>
      <mat-hint>Please enter your password</mat-hint>
    </mat-form-field>
  </p>
  <div>
    <button mat-raised-button color="accent" >Submit</button>&nbsp;
    <button mat-raised-button (click)="onClose()">Close</button>
  </div>
</div>