<div class="container-fluid page">
  <div class="page__box pt-4 p-3">Dashboard</div>
  <div class="page_cntent shadow position-relative">
    <div class="page_cntent-data position-relative">
      <mat-accordion displayMode="flat">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>01</mat-panel-title>
          </mat-expansion-panel-header>
          <div>Data list</div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>02</mat-panel-title>
          </mat-expansion-panel-header>
          <div>Data list</div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>03</mat-panel-title>
          </mat-expansion-panel-header>
          <div>Data list</div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
